* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
	color: gray;
}

.header-img{
	width: 100%;
	height: 400px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

.header-text p{
	padding: 20px;
	font-size: 24px;
	font-weight: bold;
	color: gray;
}

.main{
	margin: 50px auto;
	width: 840px;
}

.main-item{
	width: 100%;
	text-align: left;
	border-bottom: 1px solid gray;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

